.mainContainer {
  margin-top: 3rem;
}

.title {
  color: white;
  padding-bottom: 1rem;
}

.form {
  width: 700px;
  border-radius: 50px;
  background-color: #ffffff17;
}

input {
  background-color: #ffffff46;
  border: none;
  border-radius: 999em 40px 40px 999em;
  padding: 0px 20px;
  outline: none;
}

input::placeholder {
  color: black;
  opacity: 0.5;
}

input:focus {
  border: 2px solid #ffffffa8;
}

button {
  border: none;
  background-color: #ffffffba;
  color: black;
  cursor: pointer;
  border-radius: 40px 999em 999em 40px;
  letter-spacing: 0.15em;
  transition: all 1s;
  position: relative;
}

button:hover {
  background-color: #ffffff;
}
