.main-article {
  border-radius: 20px;
  background-color: #ffffff17;
  color: white;
  margin-top: 1.5rem;
}

.form-input {
  border-radius: 40px;
  color: white;
}

.form-input:focus {
  border: 1px solid black;
}
