.navigation {
  display: flex;
  justify-content: flex-end;
}

.userBtn {
  padding: 1rem 2rem;
  border-radius: 40px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  background-color: #ffffff17;
  color: white;
  font-weight: bold;
}

.userBtn:hover {
  background-color: #ffffff17;
}
